{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="UTF-8" />
		<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/975/975392.png" type="image/x-icon">
		<script src="https://cdn.tailwindcss.com"></script>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
		<title>Log In | EventSync</title>
	</head>
	<body class="bg-slate-950 space-y-16 font-['Montserrat']">
		<header>
            <nav class="flex items-center justify-around px-16 py-6 text-slate-100">
                <a href="{% url "land" %}">
                    <div class="title flex items-center gap-2">
                        <img src="https://cdn-icons-png.flaticon.com/512/975/975392.png" width="40">
                        <h2 class="text-4xl font-extrabold tracking-wide bg-gradient-to-r from-green-500 to-indigo-500 text-transparent bg-clip-text">EventSync</h2>
                    </div>
                </a>
                <ul class="flex gap-12 text-xl font-medium">
                    <li class="hover:font-semibold"><a href="{% url "land" %}">Home</a></li>
                    <li class="hover:font-semibold"><a href="">Contact</a></li>
                    <li class="font-bold"><a href="">Log In</a></li>
                    <li class="hover:font-semibold"><a href="{% url "sign-up" %}">Sign Up</a></li>
                    <li class="text-opacity-65 text-red-500 cursor-default">Log Out</li>
                </ul>
            </nav>
        </header>
		<main class="m-20">
			<form method="POST" class="space-y-4 border border-green-800 bg-slate-800 rounded-xl mx-auto px-10 py-6 w-fit">
				{% csrf_token %}
				<h2 class="text-4xl bg-gradient-to-r from-green-300 to-green-950 text-transparent bg-clip-text text-center font-bold pb-4">Log In</h2>
				<label for="username" class="text-slate-100 text-xl font-medium mr-2">Username:</label>
				<input type="text" id="username" name="username" required placeholder="Enter your Username" class="border border-green-800 rounded-md px-3 py-2 focus:outline-none focus:border-2 focus:border-green-700 bg-slate-800 text-slate-100 text-lg md:text-xl"/>
				<br/>
				<label for="password" class="text-slate-100 text-xl font-medium mr-2">Password:</label>
				<input type="password" id="password" name="password" required placeholder="Enter your Password" class="border border-green-800 rounded-md px-3 py-2 focus:outline-none focus:border-2 focus:border-green-700 bg-slate-800 text-slate-100 text-lg md:text-xl"/>
				<br/>
				<button type="submit" class="my-2 px-6 py-2 bg-green-700 hover:bg-green-800 text-slate-100 hover:text-slate-300 font-semibold text-2xl rounded-lg">Login</button>
				<p class="text-lg text-slate-100">Don't have an account? Then <a href="{% url "sign-up" %}" class="text-green-700 hover:text-green-700 hover:underline text-xl font-medium">Sign Up</a>.</p>
			</form>
		</main>
	</body>
</html>
