<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2206/2206368.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
        <script src="https://cdn.tailwindcss.com/"></script>
        <title>Assign Role to User | EventSync</title>
        <style>
            nav > ul > li:hover ul {
                display: block;
            }
        </style>
    </head>
    <body class="bg-slate-950 text-slate-100 font-['Montserrat']">
        <header>
            <nav class="flex items-center justify-around px-16 py-6">
                <a href="{% url "land" %}">
                    <div class="title flex items-center gap-2">
                        <img src="https://cdn-icons-png.flaticon.com/512/975/975392.png" width="40">
                        <h2 class="text-4xl font-extrabold tracking-wide bg-gradient-to-r from-green-500 to-indigo-500 text-transparent bg-clip-text">EventSync</h2>
                    </div>
                </a>
                <ul class="flex gap-12 text-xl font-medium">
                    <li class="hover:font-semibold"><a href="{% url "admin-db" %}">Dashboard</a></li>
                    <li class="cursor-pointer">Groups
                        <ul class="bg-slate-950 bg-opacity-75 border-2 border-green-800 rounded-lg mt-1 py-2 hidden absolute">
                            <li class="hover:bg-slate-800 px-5 py-2"><a href="" target="_blank">View All</a></li>
                            <li class="hover:bg-slate-800 px-5 py-2"><a href="{% url "create-group" %}" target="_blank">Create New</a></li>
                        </ul>
                    </li>
                    <li class="cursor-pointer">Manage
                        <ul class="bg-slate-950 bg-opacity-75 border-2 border-green-800 rounded-lg mt-1 py-2 hidden absolute">
                            <li class="hover:bg-slate-800 px-5 py-2"><a href="{% url "view-event" %}" target="_blank">Events</a></li>
                            <li class="hover:bg-slate-800 px-5 py-2"><a href="{% url "view-category" %}" target="_blank">Categories</a></li>
                            <li class="hover:bg-slate-800 px-5 py-2"><a href="{% url "view-participant" %}" target="_blank">Participants</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <form method="POST" class="space-y-4 border border-green-800 bg-slate-800 rounded-xl mx-auto py-8 w-fit mt-16 flex flex-col items-center">
                {% if messages %}
                {% for message in messages %}
                <h5 class="px-4 py-1 text-2xl font-medium bg-green-900 text-green-500"><span class="fas fa-check-circle"></span> {{ message }}</h5>
                {% endfor %}
                {% endif %}
                {% csrf_token %}
                {% for field in form %}
                <p>
                    <label for="{{ field.id_for_label }}" class="text-2xl font-semibold mr-4">{{ field.label }}:</label>
                    {{ field }}
                </p>
                {% endfor %}
                <button type="submit" class="mt-5 px-5 py-2 bg-green-700 hover:bg-green-800 text-slate-950 font-semibold text-2xl rounded-lg">Assign</button>
            </form>
        </main>
    </body>
</html>