<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>All Events</title>
    </head>
    <body class="bg-slate-900 text-slate-100">
        <header>
            <nav class="flex items-center justify-around px-16 py-6">
                <a href="{% url "land" %}">
                    <div class="title flex items-center gap-2">
                        <img src="https://cdn-icons-png.flaticon.com/512/975/975392.png" width="40">
                        <h2 class="text-4xl font-extrabold tracking-wide bg-gradient-to-r from-green-500 to-indigo-500 text-transparent bg-clip-text">EventSync</h2>
                    </div>
                </a>
                <ul class="flex gap-12 text-xl">
                    {% if user.is_authenticated %}
                    <li class="hover:font-semibold"><a href="">Home</a></li>
                    <li class="hover:font-semibold"><a href="{% url "dashboard" %}">Dashboard</a></li>
                    <li class="hover:font-semibold"><a href="">Contact</a></li>
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="text-red-400 hover:text-red-500 hover:font-semibold rounded-md">Logout</button>
                    </form>
                    {% else %}
                    <li class="font-bold"><a href="">Home</a></li>
                    <li class="hover:font-semibold text-green-200"><a href="{% url "login" %}">Login</a></li>
                    <li class="hover:font-semibold"><a href="{% url "sign-up" %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main class="mx-6 md:mx-20 my-12">
            <h2 class="text-3xl md:text-4xl font-extrabold font-mono text-green-500 text-center my-4 px-8 py-2 bg-green-950 w-fit mx-auto rounded-md">All Events</h2>
            {% if messages %}
                {% for message in messages %}
                    <h4 class="my-8 text-white font-semibold text-lg px-6 py-2 w-fit mx-auto rounded-lg {% if message.tags == 'success' %}bg-green-700{% endif %} {% if message.tags == 'error' %}bg-red-700{% endif %}">{{ message }}</h4>
                {% endfor %}
            {% endif %}
            <div class="my-8 mx-6 sm:mx-24 lg:mx-40 space-y-4 text-xl">
                <form action="{% url 'view-event' %}?search=search&category=category&start_date=start_date&end_date=end_date" method="GET" class="flex md:flex-row flex-col justify-center items-center">
                    <input type="text" placeholder="Name or Location" class="h-full px-4 py-2 bg-slate-800 rounded-r-lg md:rounded-r-none rounded-l-lg border border-slate-500 focus:outline-none focus:border-green-700 w-3/4 lg:w-60" name="search"><br>
                    <select name="category" id="categ_sel" class="h-full p-2 rounded-l-lg md:rounded-l-none rounded-r-lg bg-slate-800 border border-slate-500 focus:outline-none focus:border-green-700 w-3/4 lg:w-60">
                        <option value="all">All Categories</option>
                        {% for category in categories %}
                        <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="flex ml-4">
                        <input type="date" name="start_date" class="h-full w-1/2 lg:w-40 p-2 rounded-l-lg bg-slate-800 border border-slate-500 focus:outline-none focus:border-green-700" value="2025-01-01">
                        <input type="date" name="end_date" class="h-full w-1/2 lg:w-40 p-2 rounded-r-lg bg-slate-800 border border-slate-500 focus:outline-none focus:border-green-700" value="2034-12-31">
                    </div>
                    <button type="submit" class="h-full lg:mt-0 mt-6 ml-4 px-8 py-2 bg-green-700 font-semibold rounded-lg w-1/2 lg:w-auto">Search</button>
                </form>
            </div>
            <div class="mx-6 sm:mx-16 lg:mx-24 my-12 grid grid-cols-1 lg:grid-cols-2 gap-6">
                {% for event in events %}
                    <div class="p-8 pt-4 rounded-xl bg-slate-800 space-y-6">
                        <img src={{event.thumb.url}} alt="Event Thumbnail" class="w-5/6 mx-auto rounded-md">
                        <div class="space-y-4">
                            <div class="flex justify-between">
                                <h3 class="text-3xl font-bold text-green-100">{{ event.name }}</h3>
                                <h5 class="w-fit px-3 py-1 rounded-md font-medium bg-green-200 text-slate-800 text-xl">{{ event.category.name }}</h5>
                            </div>
                            <p class="text-xl"><span class="fas fa-calendar-day text-green-300"></span> {{ event.date }}</p>
                            <p class="text-xl"><span class="fas fa-location-dot text-green-300"></span> {{ event.location }}</p>
                            <h5 class="text-xl"><span class="fas fa-people-group text-green-300"></span> {{ event.partice_count }}</h5>
                        </div>
                        <div class="flex flex-col sm:flex-row gap-4 md:gap-0 justify-between">
                            <div class="flex justify-between md:justify-start gap-4">
                                <button type="button" class="font-semibold text-xl bg-green-600 hover:bg-green-800 rounded-md px-4 py-1"><a href="{% url "event-details" event.id %}" target="_blank">More Information</a></button>
                                <form action="{% url "rsvp" event.id user.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="font-semibold text-xl bg-indigo-600 hover:bg-indigo-800 rounded-md px-5 py-1">RSVP</button>
                                </form>
                            </div>
                            <div class="flex justify-between md:justify-end gap-4">
                                <button type="button" class="px-5 py-1 bg-blue-800 hover:bg-blue-900 text-slate-100 rounded-md text-xl font-semibold"><a href="{% url 'update-event' event.id %}">Edit</a></button>
                                <form action="{% url 'delete-event' event.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="px-5 py-1 bg-rose-800 hover:bg-rose-900 text-slate-100 rounded-md text-xl font-semibold">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
        <footer class="bg-indigo-900 p-10 lg:p-20 space-y-20">
            <div class="flex lg:gap-0 gap-4 lg:flex-row flex-col justify-between">
                <div class="foot-title flex items-center gap-2">
                    <img src="https://cdn-icons-png.flaticon.com/512/975/975392.png" width="36">
                    <h3 class="text-3xl font-bold tracking-wide bg-gradient-to-r from-yellow-500 to-orange-500 text-transparent bg-clip-text">EventSync</h3>
                </div>
                <h4 class="text-2xl text-green-100 font-medium">Synchronize &amp; Organize your Events prettily</h4>
            </div>
            <div class="foot-links flex md:gap-0 gap-8 md:flex-row flex-col justify-between">
                <div class="space-y-4">
                    <h6 class="text-xl font-bold">Quick Links</h6>
                    <ul class="grid gap-4 grid-cols-2 md:grid-cols-1 text-lg">
                        <li class="hover:font-semibold hover:scale-105 transition-transform font-medium cursor-pointer">Home</li>
                        <li class="hover:font-semibold hover:scale-105 transition-transform font-medium cursor-pointer">Contact Us</li>
                        <li class="hover:font-semibold hover:scale-105 transition-transform font-medium cursor-pointer">Dashboard</li>
                        <li class="hover:font-semibold hover:scale-105 transition-transform font-medium cursor-pointer">Events</li>
                    </ul>
                </div>
                <div class="space-y-4">
                    <h6 class="text-xl font-bold">About Us</h6>
                    <ul class="grid gap-4 grid-cols-2 md:grid-cols-1 text-lg">
                        <li class="hover:font-semibold hover:scale-105 transition-transform font-medium cursor-pointer">Guides</li>
                        <li class="hover:font-semibold font-medium cursor-pointer">Our Team</li>
                        <li class="hover:font-semibold hover:scale-105 transition-transform font-medium cursor-pointer">Blogs</li>
                        <li class="hover:font-semibold hover:scale-105 transition-transform font-medium cursor-pointer">Courses</li>
                        <li class="hover:font-semibold hover:scale-105 transition-transform font-medium cursor-pointer">Development Repo</li>
                        <li class="hover:font-semibold hover:scale-105 transition-transform font-medium cursor-pointer">More Products</li>
                    </ul>
                </div>
                <div class="space-y-4">
                    <h6 class="text-xl font-bold">Legal</h6>
                    <ul class="grid gap-4 grid-cols-2 md:grid-cols-1 text-lg">
                        <li class="hover:font-semibold hover:scale-105 transition-transform font-medium cursor-pointer">Terms & Conditions</li>
                        <li class="hover:font-semibold hover:scale-105 transition-transform font-medium cursor-pointer">Privacy Policy</li>
                        <li class="hover:font-semibold hover:scale-105 transition-transform font-medium cursor-pointer">Fund Policy</li>
                        <li class="hover:font-semibold hover:scale-105 transition-transform font-medium cursor-pointer">License</li>
                    </ul>
                </div>
                <div class="space-y-4">
                    <h6 class="text-xl font-bold">Social</h6>
                    <ul class="flex gap-8 text-4xl">
                        <li class="hover:font-semibold hover:scale-125 hover:-translate-y-1 transition-transform text-blue-600"><i class="fab fa-linkedin"></i></li>
                        <li class="hover:font-semibold hover:scale-125 hover:-translate-y-1 transition-transform text-blue-500"><i class="fab fa-facebook"></i></li>
                        <li class="hover:font-semibold hover:scale-125 hover:-translate-y-1 transition-transform text-gray-900"><i class="fab fa-github"></i></li>
                        <li class="hover:font-semibold hover:scale-125 hover:-translate-y-1 transition-transform text-black"><i class="fab fa-x-twitter"></i></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>